SETTINGS_CONFIGURATION=
SECRET_KEY=yc&#c0s9os6(+*(5\=w9v1$mn2fenl\=onk**njxeraqq(eo#b72

ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=

DEBUG=True
SEND_SMS=False
USE_CELERY=True

DB_NAME=postgres
DB_USERNAME=postgres
DB_HOSTNAME=db
DB_PORT=5432
DB_PASSWORD=postgres

REDIS_HOSTNAME=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_CACHE_DB=1

MQ_HOST=rabbitmq
MQ_PORT=5672
MQ_USER=guest
MQ_PASSWORD=guest
MQ_VHOST=

HASH_SUM_PRIVATE_KEY=

SENTRY_DSN=
SENTRY_SAMPLE_RATE=
SENTRY_TRACES_SAMPLE_RATE=